{% extends 'base2.html' %}

{% block content %}


<div class="table">
	<table style="width: 100%">
		<tr>
			<th>Código</th>
			<th>Razão Social</th>
			<th>Nome Fantasia</th>
			<th>Rua</th>
			<th>Cidade</th>
			<th>Cep</th>
		</tr>

		<tr>
			{% for cliente in object_list %}

			<td>{{ cliente.codigo }}</td>
			<td><a href="">{{ cliente.razao_social }}</a></td>
			<td>{{ cliente.fantasia }}</td>
			<td>{{ cliente.rua }}</td>
			<td>{{ cliente.cidade }}</td>
			<td>{{ cliente.cep }}</td>
		</tr>
		{% endfor %}

	</table>

	</div>




{% endblock content %}
