{% extends 'base2.html' %}

{% block content %}

<p><h3>Degustações</h3> <a href="{% url 'tasting_new' %}">+ Cadastrar Degustação</a></p>
<div class="table">
	<table style="width: 100%">
		<tr>
			<th>Promotora</th>
			<th>Cliente</th>
      <th>Endereco</th>
			<th>Data Degustação</th>
		</tr>

		<tr>
			{% for tasting in object_list %}
			<td>{{ tasting.promotora }}</td>
			<td>{{ tasting.cliente }}</td>
      <td>{{ tasting.cliente.rua }}</td>
			<td>{{ tasting.tasting_date }}</td>
		</tr>
		{% endfor %}

	</table>

	</div>




{% endblock content %}
